@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:900);

.org {
  float: left;
  width: 100%;
  display: block;
  margin-bottom: 8px;

  h1 {
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
    text-align: left;
    font-size: 24px;
    letter-spacing: -1px;

  }

  p {
    font-size: 20px;
    font-family: georgia;
  }
}