<div ng-app="app">
  <aside>
    <h1>Browse The LA SCENE</h1>
    <nav class="aside-nav">
      <ul>
        <li class="about-top"><a ui-sref="about">About</a></li>
        <li><a ui-sref="index">Home</a></li>
        <li><a ui-sref="organizations">Companies</a></li>
      </ul>
    </nav>
  </aside>

  <div class="angular-box" ui-view></div>


</div>