<div id="main-background"></div>

<!-- styling for Google map -->
  <style type="text/css">
      #map-canvas { height: 300px; margin: 0 auto; padding: 0; width: 600px;}
    </style>

  <!-- requiring Google map -->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    
<!-- Google map javascript functionality -->

<% @organizations.each do |oe| %>
   console.log("<%= oe.address_street %>" 
   			+ " " + "<%=oe.hq_address_city%>"
   			+  " " + "<%=oe.hq_address_state%>"
   			+ "<%=oe.hq_address_zip%>"
   			);
   console.log(new google.maps.Geocoder(90014));
<% end %>



<footer>
  
  <p id="footer-text">Made with <span>&#x2764</span> in Los Angeles, California</p>
</footer>