

<div class="sign-form-body">
  <h1 class="form-title">Organization Information</h1>

  <form>

    <input type="text" placeholder='Organization Name'  ng-model="org_name">
    
    <input type="text" placeholder='address'  ng-model="address">
    
    <input type="text" placeholder='City' class="form-short" ng-model="city">
    
    <input type="text" placeholder='Phone' class="form-suffix" ng-model="phone" >
    
    <input type="text" placeholder="Zipcode" ng-model="zip">

    <input type="text" placeholder="Website" ng-model="web_url">
    
    <input type="text" placeholder="Sector" >
      
    <button ng-click="submitRecord()">Sign Up</button>
    
  </form>

  <div class="sign-link-box">
        <p>Already have an account, then, FUCK RIGHT OFF</a></p>
  </div>
</div>