<div ng-repeat="organization in organizations">
    
<p>{{organization.name}}</p>
<p>{{organization.address_street}}</p>
<p>{{organization.hq_address_city}}</p>
<p>{{organization.hq_address_state}}</p>
<p>{{organization.hq_address_zip}}</p>
<p>{{organization.sector_type}}</p>    
    

    <!-- it is fairly likely this should be authorized for current user only -->
    
</div>